{%  extends 'crmapp/main.html' %}

{% block content %}

{%  include 'crmapp/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_customer' %}">Create Customer</a>
			<table class="table table-sm">
				<thead>
				<tr>
					<th></th>
					<th>Customer</th>
					<th>Phone</th>
				</tr>
				</thead>

				<tbody>
				{% for customer in customers%}
				<tr>
					<th><a class="btn btn-primary  btn-sm" href="{% url 'view_customer' customer.pk %}">View</a></th>
					<th>{{customer.name}}</th>
					<th>{{customer.phone}}</th>
				</tr>
				{% endfor %}
				</tbody>

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<thead>
					<tr>
						<th>Product</th>
						<th>Date Orderd</th>
						<th>Status</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
				</thead>

				<tbody>
					{% for order in first_five %}
					<tr>	
						<td>{{order.product}}</td>
						<td>{{order.date_created|date}}</td>
						<td>{{order.status}}</td>
						<td><a href="{% url 'update_order' order.id %}"><button class="btn btn-sm btn-info" type="button">Update</button></a></td>
						<td><a href="{% url 'delete_order' order.id %}" class="btn btn-sm btn-danger" >Delete</a></td>
					</tr>
					{% endfor %}
				</tbody>
		
			</table>
		</div>
	</div>

</div>


{% endblock %}

