{% extends 'crmapp/main.html' %}

{% block content %}

<br>



<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{orders.count}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Orders Delivered</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{delivered.count}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white  mb-3" id="orders-pending">
                <div class="card-header">
                    <h5 class="card-title">Orders Pending</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{pending.count}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col">
        <div class="card card-body">
            <form method="get">
                {{filters.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>

</div>
<br>

<div class="row mx-auto">
    <div class="col-md mx-auto">
        <div class="col-8 mx-auto">
            
        </div>
        <div class="card card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    {% if orders %}
                    {% for order in orders %}
                    <tr>
                        <td>{{order.product.name}}</td>
                        <td>{{order.product.category}}</td>
                        <td>{{order.product.date_created}}</td>
                        <td>{{order.status}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}